@import url('https://fonts.googleapis.com/css?family=Lato|Bitter|Cabin');
body {
    min-width: initial !important;
}

.clearfix {
  clear: both;
}

.protograph-card {
  position: relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}

.protograph-col4-mode {
  /*height: 70px;*/
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.protograph-col7-mode {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.news-card {
  width: 540px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  font-family: "cabin";
  height: 580px;
  border-radius: 4px;
  border: 1px solid #efefef;
}

.news-card .card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  font-family: "bitter";
}

.news-card .card-tabs {
  width: 540px;
  margin-left: -16px;
  margin-top: 32px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 16px;
}

.news-card .card-tabs .single-tab {
  font-size: 12px;
  color: #9a9a9a;
  text-transform: uppercase;
  width: 110px;
  border-bottom: 2px solid white;
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.news-card .single-tab.active {
    border-bottom: 2px solid #cd1713;
    color: #cd1713;
}

.news-card p {
    font-size: 14px;
    color: #525252;
    margin: 0px;
    padding: 0px;
    line-height: 21px;
    margin-bottom: 8px;
    white-space: pre-wrap;
}

.news-card .parameter-label {
    font-size: 10px;
    text-transform: uppercase;
    color: #9a9a9a;
    margin-bottom: 4px;
}

.news-card .parameter-small-label {
    font-size: 10px;
    text-transform: capitalize;
    color: #7a7a7a;
    margin-bottom: 4px;
}

.news-card .card-footer {
    height: 45px;
    border-top: 1px solid #efefef;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 4px 8px;
    width: 540px;
    box-sizing: border-box;
}

.news-card .call-to-action-button {
    font-size: 12px;
    color: #cd1713;
    background: white;
    padding: 6px 10px;
    box-sizing: border-box;
    float: right;
    margin-top: 2px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    border: #cd1713 solid 0.5px;
}

.news-card .half-width-parameter {
    width: 253px;
    display: inline-block;
    float: left;
}

.news-card .half-width-parameter p {
    width: 240px;
}

.news-card .single-parameter {
    margin-bottom: 8px;
    width: 100%;
    display: inline-block;
}

.news-card a {
  color: #cd1713 !important;
  background: 0 0;
  text-decoration: none;
}

.card-date{
  color: white;
  background: #cd1713;
  border-radius: 4px;
  border-color: #cd1713;
  border-width: 1px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.logo-img {
  height: 40px;
  border-radius: 50%;
  margin: 0%;
}

.news-card-mobile {
  width: 300px;
}

.news-card-mobile .card-tabs-mobile {
  width: 300px;
} 

.news-card-mobile .card-tabs-mobile .single-tab-mobile {
  width: 99px;
  font-size: 11px;
}

.news-card-mobile .call-to-action-button-mobile {
  font-size: 10px;
}

.news-card-mobile .card-footer-mobile {
  width: 300px;
}


/* Note the above height and width are just samples. Change it as per the usecase. */